@font-face {
    font-family: "Acme";
    src: url(fonts/Acme-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "OpenSans";
    src: url(schriften/OpenSans-Light.ttf) format('truetype');
}

body {
    font-family: 'BebasNeue', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
    color: black ;
}

body.light-mode {
    background-color: #FAF9F6;
    color: black ;
}

body.dark-mode {
    background-color: #3a3a3a;
    color: #FAF9F6;
}

body.dark-mode button {
    background-color: #555;
    color: #FAF9F6;
    border: 1px solid #FAF9F6; 
}

body.light-mode button {
    border: 1px solid lightgray;
    color: black;
    background-color: lightgray;
}

body.light-mode table {
    background-color: #FAF9F6;
    border-color: black;;
    color: black;
}

body.dark-mode table {
    border-color: lightgrey;
    background-color: #3a3a3a;
    color: #FAF9F6;
}

body.light-mode th,
body.light-mode tr,
body.light-mode td {
    border-color: black;
}

body.dark-mode th,
body.dark-mode tr,
body.dark-mode td {
    border-color: lightgrey;
}

body.light-mode input {
    background-color: lightgray;
    color: black;
}

body.dark-mode input {
    background-color: #9c9c9c;
    color: #FAF9F6;
}

body.light-mode .heute {
    border-color: red;
}

body.dark-mode .heute {
    border-color: #d20000;
}

body.light-mode a {
    color: darkgreen;
}

body.dark-mode a {
    color: lightblue;
}

header {
    padding: 10px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.placeholder-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1;
    padding: 20px;
    position: relative;
    justify-content: center;
}

aside {
    flex: 0 0 20%;
    min-width: 10%;
    max-width: 20%;
    padding: 20px;
    order: -1;
    position: absolute;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
}

body.light-mode h6 {
    color: lightgray;
    border-color: lightgray;
}

body.dark-mode h6 {
    color: white;
    border-color: white;
}

body.light-mode .tooltiptext {
    background-color: lightgray;
}

body.dark-mode .tooltiptext {
    background-color: #555;
}

body.light-mode .error-message {
    color: red;
}

body.dark-mode .error-message {
    color: lightcoral;
}

h6 {
    font-family: sans-serif;
    display: inline;
    font-size: 1.5em;
    padding: 3px 12px 3px 12px;
    border: 3px solid lightgray;
    border-radius: 20px;
}

.tooltip {
    border-width: 1px;
    display: inline-block;
    margin: auto;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
}

.tooltip .tooltiptext {
    display: none;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    display: block;
}

.logRegForm {
    margin: 0 auto;
    border: 4px solid lightgray;
    border-radius: 16px;
    padding: 20px;
    width: 450px;
    min-height: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logRegForm h2 {
    text-align: center;
}

h3 {
    font-size: 2em;
    margin: 0;
}

.monatName1:hover {
    color: lightblue;
    cursor: pointer;
}

.monatName2:hover {
    color: lightblue;
    cursor: pointer;
}

.btn {
    background-color: lightgray;
    border: none;
    border-radius: 16px;
    font-family: 'BebasNeue', sans-serif;
    color: black;
    font-size: 1.5em;
}

.btn:hover {
    background-color: lightblue;
    cursor: pointer;
}

#backButton, 
#forwardButton {
    border-radius: 16px;
    font-family: 'BebasNeue', sans-serif;
    font-size: 1em;
    margin: 0 10px;
}

#backButton:hover,
#forwardButton:hover {
    background-color: lightblue;
    cursor: pointer;
}

.topRightButton {
    background-color: lightgray;
    border: none;
    border-radius: 16px;
    font-family: 'BebasNeue', sans-serif;
    color: black;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    margin-right: 0px;
}

.topRightButton:hover {
    background-color: lightblue;
    cursor: pointer;
}

table {
    border-spacing: 0;
    border: 2px solid black;
    font-size: 2em;
    background: #FAF9F6;
    /*position: relative;*/
    margin: auto;
}

.table-container {
    display: flex;
    justify-content: center;
}


td { /*table data*/
    border-style: solid;
    border-width: 2px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
    height: 110px;
    position: relative;
}

tr:first-child /*table row*/ {
    border: 2px;
    width: 90px;
    height: 90px;
}

th /*table header*/ {
    border: 2px solid;
    font-size: 54px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    font-family: 'Acme', sans-serif;
}

.heute {
    border: 4px solid red;
    font-weight: bold;

}

.punkt-element {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.punktElementeContainer {
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.tagebutton {
    z-index: -1;
}

.tagesinhalt {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tagesinhalt:hover {
    background-color: lightblue;
    cursor: pointer;
}

.loginansicht{
    display: none;
}

.registrierungsansicht{
    display: none;
}

.nav-bar-container-right {
    display: flex;
}

.color-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

input {
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 14px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container span {
    font-size: 20px;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
}

.color-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Ändern der Farbe des Aufzählungspunktes */
li {
    list-style-type: none;
}

li:before {
    content: '\2022';
    margin-right: 5px;
    font-size: 2em;
    color: darkgreen;
    vertical-align: middle;
}

@media screen and (max-width: 1440px ) {

    
    aside {
        position: static;
        max-width: 20%;
    }
        
    }

/*alternatives Layout für alles was kleiner als ein Tablet in Hochformat ist
    -> mobile Version*/

@media screen and (max-width: 1024px ) {

main {
    flex-direction: column;
}

section {
    position: static;
}

aside {
    position: static;
    max-width: 100%;
}
    
}


/* Ab hier Dark/Lightmode Toggle*/

/* "Das ::after-Element, das .toggle-label zugeordnet ist und .no-transition Klasse hat" */
.no-transition.toggle-label:after { /* Deaktiviert die Transition des :after Elements (Horizontale Bewegung)*/
    transition: none !important; /* Überschreibt auf jeden Fall*/
}

.no-transition{ /* Deaktiviert die Transition des Label Elements (Hintergrund-Farbwechsel)*/
    transition: none !important; /* Überschreibt auf jeden Fall*/
}


.toggle-label {
    width: 80px;
    height: 41px;
    background: lightgrey;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s;
}

.toggle-label:after {
    content: '';
    width: 35px;
    height: 35px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

.toggle-button:checked + .toggle-label {
    background-color: #9c9c9c;
}

.toggle-button:checked + .toggle-label:after {
    transform: translateX(39px);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-container {
    padding-right: 100px;
}

.toggle-button {
    height: 0px;
    width: 0px;
    visibility: hidden;
    display: none;
}
